.idea/
.buildpath
.settings/
.project
.DS_STORE

/fof/include.php
/fof/file_fof30.xml
/fof/version.txt

/Tests/environments/
/Tests/coverage
/Tests/config.php
/Tests/debug.txt

/release/*.zip
/vendor/*

Tests/coverage

# Internal language symlinks
/fof/language/en-GB
/plugins/user/foftoken/language/**
