.buildpath
.settings/
.project
.DS_STORE
.idea/

/build/bin
/build/buildlang
/build/phingext
/build/tools

# We can't include composer.lock since the testing framework dependencies vary by PHP version we are testing against
composer.lock

/cli/fof.phar

/documentation/*.xml~

/fof/include.php
/fof/lib_fof30.xml
/fof/lib_f0f.xml
/fof/version.txt
/fof.phar

/release/*.zip

/Tests/environments/
/Tests/coverage
/Tests/config.php
/Tests/debug.txt

/vendor/*

Tests/coverage
